@font-face {
    font-family: 'axiforma';
    src: url('../Axiforma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
    /*font-size: calc(0.85em + 1vw);*/
}

body {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /*font-size: calc(0.85em + 1vw);*/
}

p {
    /*line-height: 1.6em;*/
    /*font-size: 0.6em;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'axiforma', serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 3.5em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 992px) {
    .waves {
        height: 100px;
        min-height: 40px;
    }
}

.hero-background {
    min-height: 100vh;
    overflow: hidden;
    /*background-size: 30%;*/
    z-index: 500;
    /*background-image: url("../images/orange_blob.svg");
    /*background-repeat: no-repeat;*!*/
    background-image: url("../images/2.png");
    background-size: cover;
}

.hero {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    color: #ffd9a9;
    padding: 10px;
    text-align: center;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 10vh;
}

.hero h6 {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .hero {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.75em;
    }

    h6 {
        font-size: 1.5em;
    }
}

.schedule-box {
    border-radius: 0.5em;
    background: #6d8876;
    padding: 20px;
    margin-bottom: 1.1em;
}

#contact form {
    font-family: 'Open Sans', sans-serif;
}

.emphasis-title {
    text-align: center;
}

.row-tb-margin {
    margin-bottom: 10vh;
}


/* Cool looking links */

.expand-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.expand-link:hover {
    color: #212529;
}

.expand-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    left: -0.1em;
    right: -0.1em;
    background: rgba(0, 58, 140, 0.19);
    /*transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);*/
    transition: height 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.expand-link:hover::after {
    height: 45%;
    transition: height 380ms cubic-bezier(0.32, 1.04, 0.46, 1.08);
}


footer {
    /*background-color: #fffdfb;*/
    background-color: #e1edff;
}

.footer-wrapper {
    text-align: left;
    padding: 1em 0;
}

.footer-desktop {
    display: none;
}

.footer-copyright {
    margin: 0;
    font-size: 0.6em;
}

.footer-mobile {
    height: 30vh;
    min-height: 250px;
    text-align: center;
}

.footer-mobile a {
    margin: 0.4em 0.5em;
}

.footer-links {
    list-style-type: none;
    margin-bottom: 0;
}

.footer-links a {
    margin: 0 0.2em;
    font-size: 0.5em;
}

@media (min-width: 768px) {
    .footer-desktop {
        display: flex;
        height: 40vh;
    }

    .footer-mobile {
        display: none;
    }

    .footer-copyright {
        margin: 0;
        font-size: 0.5em;
    }
}

@media (min-width: 1200px) {
    .footer-desktop {
        display: flex;
        height: 55vh;
    }

}

.sponsors {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    /*background-color: rgb(247, 247, 247);*/
}

.video-wrapper {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.filter {
    background-color: #000;
    opacity: 0.7;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -98;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    z-index: -99;
}

.slideshow {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -99;
    transform: translate3d(0, 0, 0);
}

.images {
    background: url('../../assets/images/vmss60testslide.png');
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5120px;
    animation: slideshow 180s linear infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes slideshow {
    100% {
        transform: translateX(-50%);
    }
}

.button {
    border-radius: 5px;
    border-color: transparent;
}

.form-input {
    font-size: 0.8em;
    border-radius: 5px;
    border-color: transparent;
}

#mc_embed_signup form {
    text-align: left;
    padding: 10px 0 10px 0;
}

.mc-field-group {
    display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup .clear {
    display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    background-color: #777;
    cursor: pointer;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }

    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }

    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
}

.full-page {
    position: relative;
    /*z-index: 2;*/
}

#full-page-1 {
    background: #0c326e;
    height: 100vh;
}

#full-page-1-text {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    padding: 5%;
}

#full-page-2 {
    background: #ffffff;
    padding-top: 5%;
}

#full-page-2 .section-action-button {
    color: black;
}

#full-page-2 .section-action-button:hover {
    color: black;
}

#full-page-2 .section-action-button:after {
    background: black;
}

#full-page-2 img {
    max-height: 90vh;
    max-width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

#full-page-2-text {
    color: black;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    position: relative;
    padding: 5%;
    z-index: 3;
}

#full-page-3 {
    background: #0c326e;
    position: relative;
}

#full-page-3-text {
    color: white;
    /*width: 100vw;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*position: relative;*/
    padding: 5%;
}

#full-page-3-front {
    z-index: 0;
    max-width: 95vw;
    max-height: 100vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#full-page-3-back {
    z-index: 0;
    height: 50vh;
    position: absolute;
    top: 5%;
    left: 2%;
    display: none;
}

#full-page-4-text {
    position: relative;
    top: 20%;
    padding: 2em;
}

.emphasis-span {
    color: #ffd9a9;
}

@media (min-width: 1200px) {
    html {
        scroll-snap-type: y mandatory;
    }
    .full-page {
        height: 100vh;
        position: relative;
        /*z-index: 2;*/
        overflow-x: hidden;
        scroll-snap-align: start;
    }

    #full-page-1-text {
        width: 45vw;
        top: 50%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
        position: relative;
    }

    #full-page-2-text {
        /*color: rgb(73, 80, 103);*/
        color: black;
        width: 40em;
        top: 50%;
        /*left: 3%;*/
        transform: translate(0, -50%);
        position: relative;
        z-index: 5;
    }

    #full-page-2-text p {
        color: rgb(0, 0, 0);
    }

    #full-page-2 img {
        z-index: 0;
        position: absolute;
        height: 90vh;
        top: 50%;
        left: 40%;
        transform: translate(0, -50%)
    }

    #full-page-3-text {
        color: white;
        width: 40em;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        position: relative;
        text-align: right;
        z-index: 5;
    }

    #full-page-3-front {
        z-index: 1;
        height: 40em;
        min-height: 80vh;
        max-height: 94vh;
        max-width: 60vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5%;
    }

    #full-page-3-back {
        z-index: 0;
        height: 45em;
        min-height: 80vh;
        max-height: 94vh;
        max-width: 60vw;
        position: absolute;
        top: 5%;
        left: 2%;
        display: inline;
    }

    #full-page-4-text {
        max-width: 45vw;
        left: 5%;
    }
}

.section-action-button {
    color: white;
    display: inline;
    position: relative;
    overflow: hidden;
}

.section-action-button:hover {
    color: white;
}

.section-action-button:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -4px;
    background: #fff;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.section-action-button:hover:after,
.section-action-button:focus:after,
.section-action-button:active:after {
    right: 0;
}

.grecaptcha-badge { visibility: hidden; }

.vmss60-footer {
    position: static;
    text-align: center;
}

@media (min-width: 1200px) {
    .vmss60-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        color: white;
    }
}

.vmss60-footer-text {
    bottom: 3em;
    right: 3em;
}

.quarter-circle-bottom-right {
    display: none;
}

@media (min-width: 576px) {
    .quarter-circle-bottom-right{
        width: 25vw;
        height: 25vw;
        background: orange;
        border-radius: 25vw 0 0 0;
        -moz-border-radius: 25vw 0 0 0;
        -webkit-border-radius: 25vw 0 0 0;
        display: inline;
    }
}

.navbar {
    position: fixed;
    top: 2em;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    z-index: 999;
}
.navbar-item {
    border: 1px solid white;
    color: white;
    padding: 0.25em 1em;
    border-radius: 1em;
    transition: color ease 0.25s, border ease 0.25s;
    margin-bottom: 1em;
}
.navbar-item.first {
    border-radius: 0;
}

.navbar-item:hover {
    color: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.75);
}

.navbar-line-container {
    width: 3em;
    margin-bottom: 1em;
}

.navbar-line {
    height: 1px;
    width: 100%;
    border-top: 1px solid white;
}

/* Invert */
.navbar-line.black {
    border-top: 1px solid black;
}

.navbar-item.black:hover {
    color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.5);
}
.navbar-item.black {
    color: black;
    border: 1px solid black;
}
