@font-face {
    font-family: 'axiforma';
    src: url('../Axiforma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
    /*font-size: calc(0.85em + 1vw);*/
}

body {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /*font-size: calc(0.85em + 1vw);*/
}

p {
    /*line-height: 1.6em;*/
    /*font-size: 0.6em;*/
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Roboto', sans-serif;*/
    font-family: 'axiforma', serif;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1 {
    font-size: 6.5em;
}

h2 {
    font-size: 3.5em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 992px) {
}

.hero-background::before {
    background-image: url("../images/IMG_1433.jpg");
    filter: blur(15px);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    transform: scale(1.1);
}

.hero-background {
    min-height: 100vh;
    overflow: hidden;
    /*background-size: 30%;*/
    z-index: 0;
    background: none;
    /*background-image: url("../images/orange_blob.svg");
    /*background-repeat: no-repeat;*!*/
}

.hero {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    /*color: #ffd9a9;*/
    color: white;
    padding: 10px;
    text-align: left;
}

.hero h1 {
    font-family: "axiforma", serif;
    font-size: 10vh;
}

.hero h6 {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .hero {
        left: 50%;
        top: 50%;
        transform: translate(-85%, -50%);
        padding: 0;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.75em;
    }

    h6 {
        font-size: 1.5em;
    }
}

.schedule-box {
    border-radius: 0.5em;
    background: #d2d2d2;
    padding: 20px;
    margin-bottom: 1.1em;
}

#contact-form {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
}

#contact-desc {
    font-size: 0.7em;
}

@media (min-width: 768px) {
    #contact-form {
        font-size: inherit;
    }

    #contact-desc {
        font-size: inherit;
    }
}


/* Cool looking links */

.expand-link {
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.expand-link:hover {
    color: #212529;
}

.expand-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    left: -0.1em;
    right: -0.1em;
    background: rgba(0, 58, 140, 0.19);
    /*transition: 380ms transform cubic-bezier(0.165, 0.84, 0.44, 1);*/
    transition: height 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.expand-link:hover::after {
    height: 45%;
    transition: height 380ms cubic-bezier(0.32, 1.04, 0.46, 1.08);
}


footer {
    /*background-color: #fffdfb;*/
    background-color: #e1edff;
}

.footer-mobile a {
    margin: 0.4em 0.5em;
}

.footer-links a {
    margin: 0 0.2em;
    font-size: 0.5em;
}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

.images {
    background: url('../../assets/images/vmss60testslide.png');
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5120px;
    animation: slideshow 180s linear infinite;
    transform: translate3d(0, 0, 0);
}

@keyframes slideshow {
    100% {
        transform: translateX(-50%);
    }
}

.button {
    border-radius: 5px;
    border-color: transparent;
}

.form-input {
    font-size: 0.8em;
    border-radius: 5px;
    border-color: transparent;
}

#mc_embed_signup form {
    text-align: left;
    padding: 10px 0 10px 0;
}

.mc-field-group {
    display: inline-block;
}

/* positions input field horizontally */
#mc_embed_signup input.email {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc_embed_signup label {
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    font-weight: bold;
}

#mc_embed_signup .clear {
    display: inline-block;
}

/* positions button horizontally in line with input */
#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: .03em;
    color: #fff;
    background-color: #aaa;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
    background-color: #777;
    cursor: pointer;
}

#mc_embed_signup div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mc_embed_signup div.response {
    margin: 1em 0;
    padding: 1em .5em .5em 0;
    font-weight: bold;
    float: left;
    top: -1.5em;
    z-index: 1;
    width: 80%;
}

#mc_embed_signup #mce-error-response {
    display: none;
}

#mc_embed_signup #mce-success-response {
    color: #529214;
    display: none;
}

#mc_embed_signup label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

@media (max-width: 768px) {
    #mc_embed_signup input.email {
        width: 100%;
        margin-bottom: 5px;
    }

    #mc_embed_signup .clear {
        display: block;
        width: 100%
    }

    #mc_embed_signup .button {
        width: 100%;
        margin: 0;
    }
}

.full-page {
    position: relative;
    /*z-index: 2;*/
}

#full-page-1 {
    background: #0c326e;
    height: 100vh;
}

#full-page-1-text {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 5%;
}

#full-page-2 {
    background: #ffffff;
    padding-top: 5%;
}

#full-page-2 .section-action-button {
    color: black;
}

#full-page-2 .section-action-button:hover {
    color: black;
}

#full-page-2 .section-action-button:after {
    background: black;
}

#full-page-2 img {
    max-height: 40vh;
    max-width: 85vw;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    /*padding-top: 5%;*/
}

@media (max-width: 992px) {
    #full-page-1-text {
        width: 100vw;
    }
    #full-page-2-text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100vw;
    }
}

#full-page-2-text {
    color: black;
    padding: 5%;
    z-index: 3;
}

#full-page-3 {
    background: #0c326e;
    position: relative;
}

#full-page-3-text {
    color: white;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    padding: 5%;
}

#full-page-3-front {
    z-index: 0;
    max-width: 95vw;
    height: 40vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#full-page-3-back {
    z-index: 0;
    height: 100vh;
    position: absolute;
    top: 5%;
    left: 2%;
    display: none;
}

#full-page-4 {
    min-height: 100vh;
}

#full-page-4-text {
    position: relative;
    padding: 2em;
    min-height: 100vh;
}

.emphasis-span {
    color: #ff7034;
}

#full-page-3-front-mobile {
    height: 50vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    z-index: 0;
}

#full-page-3-back-mobile {
    position: absolute;
    z-index: 0;
    height: 50vh;
}

@media (max-height: 480px) {
    #full-page-1-text {
        position: relative;
    }
    #full-page-3-front-mobile {
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }
    #full-page-3-text {
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }
    #full-page-2-text {
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }
}

@media (min-width: 1200px) {

    .full-page {
        height: 100vh;
        position: relative;
        /*z-index: 2;*/
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #full-page-1-text {
        width: 45vw;
        top: 50%;
        left: 50%;
        padding: 0;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    #full-page-2-text {
        /*color: rgb(73, 80, 103);*/
        color: black;
        width: 40em;
        top: 50%;
        /*left: 3%;*/
        transform: translate(0, -50%);
        position: absolute;
        z-index: 5;
    }

    #full-page-2-text p {
        color: rgb(0, 0, 0);
    }

    #full-page-2 img {
        z-index: 0;
        position: absolute;
        max-height: 70vh;
        /*max-width: 90vh;*/
        top: 50%;
        left: 40%;
        transform: translate(0, -50%)
    }

    #full-page-3-text {
        color: white;
        width: 40em;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        position: absolute;
        text-align: right;
        z-index: 5;
    }

    #full-page-3-front {
        z-index: 1;
        height: 40em;
        min-height: 55vh;
        max-width: 60vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 5%;
    }

    #full-page-3-back {
        z-index: 0;
        height: 45em;
        min-height: 80vh;
        max-width: 60vw;
        position: absolute;
        top: 5%;
        left: 2%;
        display: inline;
    }

    #full-page-4-text {
        max-width: 45vw;
        left: 5%;
        top: 10%;
    }
}

@media (min-width: 2000px) {
    #full-page-3-front {
        min-height: 70vh;
    }
}

.section-action-button {
    color: white;
    display: inline;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.section-action-button:hover {
    color: white;
}

.section-action-button:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -4px;
    background: #fff;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.section-action-button:hover:after,
.section-action-button:focus:after,
.section-action-button:active:after {
    right: 0;
}

.grecaptcha-badge {
    visibility: hidden;
}

.vmss60-footer {
    height: 100vh;
}

.vmss60-footer-text {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.vmss60-footer-desktop {
    position: absolute;
    top: 50vh;
    left: 70vw;
    text-align: right;
    transform: translateY(-50%);
    /*background: #6d8876;*/
    border-radius: 50%;
    border: 2px solid #0c326e;
    width: 23em;
    height: 23em;
}

.vmss60-footer-text-desktop {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vmss60-navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 2em;
}

/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
.vmss60-navbar-icon {
    position: fixed;
    right: 2em;
    top: 2em;
    background-image: url(~assets/images/menu.svg);
    display: none;
    z-index: 999
}

/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
.vmss60-navbar-icon.black {
    background-image: url(~assets/images/menu_black.svg);
}

/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
.vmss60-navbar-icon-back {
    position: fixed;
    left: 1em;
    top: 1em;
    background-image: url(~assets/images/back.svg);
    display: none;
    z-index: 999
}

/*noinspection CssUnknownTarget,CssUnknownTarget,CssUnknownTarget*/
.vmss60-navbar-icon-back.black {
    background-image: url(~assets/images/back_black.svg);
}
.vmss60-navbar-item-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.vmss60-navbar-item {
    border: 1px solid white;
    color: white;
    padding: 0.25em 1em;
    border-radius: 1em;
    transition: color ease 0.25s, border ease 0.25s;
    margin-bottom: 1em;
    background: none;
    outline: none;
}

.vmss60-navbar-item.first {
    border-radius: 0;
}

.vmss60-navbar-item:hover {
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.75);
}

.vmss60-navbar-line-container {
    width: 3em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vmss60-navbar-line {
    height: 1px;
    width: 100%;
    border-top: 1px solid white;
}

/* Invert */
.vmss60-navbar-line.black {
    border-top: 1px solid black;
}

.vmss60-navbar-item.black:hover {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.vmss60-navbar-item.black {
    color: black;
    border: 1px solid black;
}

@media (max-width: 991px) {
    .vmss60-navbar.mobile {
        position: fixed;
        top: 5em;
        right: 1em;
        display: block;
        width: 100%;
    }

    .vmss60-navbar-icon {
        display: block;
        height: 2em;
        width: 2em;
    }
    .vmss60-navbar-icon-back {
        display: block;
        height: 2em;
        width: 2em;
    }

    .vmss60-navbar-item-container {
        opacity: 0;
        display: none;
        color: white;
        width: 100%;
        transition: opacity ease 0.25s;
    }
    .vmss60-navbar-item-container ul{
        list-style: none;
        padding: 0;
        margin-left: 2em;
    }
    .vmss60-navbar-item-container ul li{
        margin-bottom: 1em;
        text-align: right;
    }
    .vmss60-navbar-item-container.open {
        opacity: 1;
        display: block;
    }

    .vmss60-navbar-item.mobile {
        border: none;
    }
}

.navbar-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 998;
    background: rgba(0,0,0,0.75);
    opacity: 0;
    transition: opacity ease 0.25s;
    pointer-events: none;
}

.navbar-overlay.open{
    opacity: 1;
}

.mustang-container {
    position: absolute;
    height: 100vh;
    right: 5vw;
    top: 0;
    z-index: 997;
    display: flex;
    align-items: center;
    -webkit-transform: translate3d(0,0,0);
}
.mustang-container svg {
    height: 100%;
}

.mustang-animate {
    animation: dash 2s ease-out forwards;
    animation-delay: 0.5s;
    stroke:#fff;
    stroke-width:0.53848601px;
}

.mustang-outline {
    stroke-dasharray: 1317.074951171875;
    stroke-dashoffset: 1317.074951171875;
}

.mustang-eye {
    stroke-dasharray: 22.072803497314453;
    stroke-dashoffset: 22.072803497314453;
}

.mustang-face {
    stroke-dasharray: 260.1147766113281;
    stroke-dashoffset: 260.1147766113281;
}

.mustang-mane {
    stroke-dasharray: 206.59243774414062;
    stroke-dashoffset: 206.59243774414062;
}

.mustang-neck {
    stroke-dasharray: 357.15081787109375;
    stroke-dashoffset: 357.15081787109375;
}

.mustang-chest {
    stroke-dasharray: 573.0703125;
    stroke-dashoffset: 573.0703125;
}

.mustang-leftleg {
    stroke-dasharray: 156.7884979248047;
    stroke-dashoffset: 156.7884979248047;
}

.mustang-torso {
    stroke-dasharray: 582.1943969726562;
    stroke-dashoffset: 582.1943969726562;
}

.mustang-rightbottomleg {
    stroke-dasharray: 217.51173400878906;
    stroke-dashoffset: 217.51173400878906;
}

.mustang-leftbottomleg {
    stroke-dasharray: 233.2288055419922;
    stroke-dashoffset: 233.2288055419922;
}

.mustang-fixpentagon {
    stroke-dasharray: 62.61857604980469;
    stroke-dashoffset: 62.61857604980469;
    animation-delay: 0.8s;
}

.mustang-fixmane {
    stroke-dasharray: 30.16499900817871;
    stroke-dashoffset: 30.16499900817871;
    animation-delay: 1.8s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.page-move-arrow {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 998;
    height: 2em;
    width: 2em;
    background-image: url("~assets/images/back.svg");
    transform: rotate(-90deg);
}

.page-move-arrow.black {
    background-image: url("~assets/images/back_black.svg");
}

.page-move-arrow.up {
    transform: rotate(90deg);
    bottom: 4em;
}

@media (min-width: 768px) {
    .page-move-arrow {
        right: 3em;
        bottom: 3em;
    }
    .page-move-arrow.up {
        bottom: 6em;
    }
}